In [9]:
import datetime
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt 
plt.style.use('seaborn')
%matplotlib qt

In [10]:
mexico = pd.read_csv('data/covidmxraw.csv', skiprows=5)
mexico = mexico[:-3]
mexico = mexico[['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]
mexico = mexico.rename(columns={'Unnamed: 1': 'Estado', 'Unnamed: 2': 'Sexo', 'Unnamed: 3': 'Edad'})
mexico.to_csv('data/covidmx.csv')
mexico

                 Estado Sexo  Edad
0     CIUDAD DE MÉXICO    M   35.0
1              SINALOA    M   41.0
2     CIUDAD DE MÉXICO    M   59.0
3             COAHUILA    F   20.0
4              CHIAPAS    F   18.0
...                 ...  ...   ...
1089          COAHUILA    M   48.0
1090  CIUDAD DE MÉXICO    F   77.0
1091  CIUDAD DE MÉXICO    F   43.0
1092  CIUDAD DE MÉXICO    M   47.0
1093           JALISCO    M   37.0

[1094 rows x 3 columns]

In [11]:
states = mexico.groupby('Estado')
infected = states['Estado'].count()
infected = infected.rename({'CIUDAD DE MÉXICO ': 'DISTRITO FEDERAL', 'MÉXICO ': 'MEXICO', 'NUEVO LEÓN ':'NUEVO LEON', 'SAN LUIS POTOSÍ ':'SAN LUIS POTOSI'})
infected = infected.sort_index()
infected.to_csv('data/infected.csv')
#infected

In [12]:
plt.hist(mexico['Edad'], bins=20, range=(0,100), color='royalblue', histtype='bar', ec='black')
plt.xlabel('Edad')
plt.ylabel('Número de infectados')
plt.show()
plt.savefig('images/histograma.png', dpi=400)