In [18]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt 
plt.style.use('seaborn')
%matplotlib qt

In [19]:
mexico = pd.read_csv('data/covidmxraw.csv', skiprows=7)
mexico = mexico[:-3]
mexico = mexico[['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 2']]
mexico = mexico.rename(columns={'Unnamed: 1': 'Estado', 'Unnamed: 2': 'Sexo', 'Unnamed: 3': 'Edad'})
mexico['Estado'] = mexico['Estado'].apply(lambda state: state[:-1])
mexico['Sexo'] = mexico['Sexo'].apply(lambda state: state[:-1])
mexico.to_csv('data/covidmx.csv')

In [20]:
df = pd.read_csv('data/covidworld.csv')
df = df.drop('SNo', axis=1)
def get_country(country_name):
    data = df[df['Country/Region']==country_name]
    country = data.groupby('ObservationDate')
    country = country.sum()[1:]
    return country

mxts = get_country('Mexico')
mxts

                 Confirmed  Deaths  Recovered
ObservationDate
02/28/2020             1.0     0.0        0.0
02/29/2020             4.0     0.0        0.0
03/01/2020             5.0     0.0        0.0
03/02/2020             5.0     0.0        0.0
03/03/2020             5.0     0.0        1.0
03/04/2020             5.0     0.0        1.0
03/05/2020             5.0     0.0        1.0
03/06/2020             6.0     0.0        1.0
03/07/2020             6.0     0.0        1.0
03/08/2020             7.0     0.0        1.0
03/09/2020             7.0     0.0        1.0
03/10/2020             7.0     0.0        4.0
03/11/2020             8.0     0.0        4.0
03/12/2020            12.0     0.0        4.0
03/13/2020            12.0     0.0        4.0
03/14/2020            26.0     0.0        4.0
03/15/2020            41.0     0.0        4.0
03/16/2020            53.0     0.0        4.0
03/17/2020            82.0     0.0        4.0
03/18/2020            93.0     0.0        4.0
03/19/2020           118.0     1.0        4.0
03/20/2020           164.0     1.0        4.0
03/21/2020           203.0     2.0        4.0
03/22/2020           251.0     2.0        4.0
03/23/2020           316.0     3.0        4.0
03/24/2020           367.0     4.0        4.0
03/25/2020           405.0     5.0        4.0
03/26/2020           475.0     6.0        4.0
03/27/2020           585.0     8.0        4.0
03/28/2020           717.0    12.0        4.0
03/29/2020           848.0    16.0        4.0
03/30/2020           993.0    20.0       35.0
03/31/2020          1094.0    28.0       35.0
04/01/2020          1215.0    29.0       35.0
04/02/2020          1378.0    37.0       35.0
04/03/2020          1510.0    50.0      633.0

In [21]:
statests = pd.DataFrame()
statests.index.name='Observation date'
for i in range(0,mxts['Confirmed'].size):
    upbound = mxts['Confirmed'][i].astype(int)
    day = pd.DataFrame(index=np.repeat(mxts.index[i],mexico[:upbound]['Estado'].unique().size))
    
    states = mexico[:upbound].groupby('Estado')
    states = states['Estado'].count()
    day['Province/State'] = states.index.values
    day['Confirmed'] = states.values
    statests = statests.append(day)

statests.to_csv('data/covidstates.csv')

In [22]:
states = mexico.groupby('Estado')
infected = states['Estado'].count()
infected = infected.rename({'CIUDAD DE M√âXICO': 'DISTRITO FEDERAL', 'M√âXICO': 'MEXICO', 'NUEVO LE√ìN':'NUEVO LEON', 'SAN LUIS POTOS√ç':'SAN LUIS POTOSI'})
infected = infected.sort_index()
infected.to_csv('data/infected.csv')
infected

Estado
AGUASCALIENTES          48
BAJA CALIFORNIA         52
BAJA CALIFORNIA SUR     21
CAMPECHE                 6
CHIAPAS                 18
CHIHUAHUA               12
COAHUILA                70
COLIMA                   4
DISTRITO FEDERAL       384
DURANGO                  8
GUANAJUATO              52
GUERRERO                24
HIDALGO                 30
JALISCO                116
MEXICO                 177
MICHOAC√ÅN               24
MORELOS                 12
NAYARIT                  8
NUEVO LEON              85
OAXACA                  22
PUEBLA                 109
QUERETARO               35
QUINTANA ROO            65
SAN LUIS POTOSI         35
SINALOA                 51
SONORA                  22
TABASCO                 73
TAMAULIPAS              16
TLAXCALA                 8
VERACRUZ                35
YUCAT√ÅN                 59
ZACATECAS                7
Name: Estado, dtype: int64

In [23]:
states = gpd.read_file('data/geopandas/states.shp')
infected = pd.read_csv('data/infected.csv',header=None)
infected = infected.set_index(0)
infected.index=states.index
states['infected'] = infected
states.to_file('data/geopandas/states.shp')

In [24]:
# path = 'data/PHLITL_2000.shp'
# data = gpd.read_file(path)
# counties = data[['EDO_LEY', 'geometry']]
# states = counties.dissolve(by='EDO_LEY')
# states = states.sort_index()